
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 92%;
  padding-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(13, 13, 29);
  /* background-color: #616161; */
}

.App-link {
  color: #61dafb;
} 


